.default {
  text-align: center;
}

.default-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.default-link {
  color: #61dafb;
}

header {
  padding: 1%;
  padding-bottom: 35px;
}

.leftmenu {
  margin-left: 5%;
  float: left;
}

.rightmenu {
  margin-right: 5%;
  float: right;
}

button {
  border: none;
  background-color: inherit;
  font-size: 16px;
}

.loginIcon {
  color: #fff;
  width: 35%;
  height: 50px;
  background-color: #db6363;
  padding: 7px;
  border-radius: 100px;
  padding-bottom: 5px;
}
