.title {
    border: 0;
    outline: 0;
    background-color: #fff;
    width: 90%;
    text-align: left;
    display: inline;
}

a {
    text-decoration: none;
}

.likes {
    border: 0;
    outline: 0;
    display: inline;
}