.img {
  height: 150px;
  width: 150px;
}

.img-holder {
  margin: auto;
  padding-top: 10px;
  padding-left: 500px;
  text-align: left;
}

.form {
  padding: 20px;
}
.form-group {
  height: 50px;
  padding: 10px;
}
